    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom inner-nav navbar-fixed-top">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  Menu <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand stay logo" routerLink="" >
                  <img src="assets/images/logo-inner.svg" class="logo Logo-cd" alt="Logo">
                  <span class="logo-text">Innoapps</span>
              </a>
              <a class="navbar-brand logo-stickey " routerLink="" >
                  <img src="assets/images/logo-inner.svg" class="logo-stickey Logo-cd" alt="Logo">
                  <span class="logo-text">Innoapps</span>
              </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                   <!--<li>
                      <a href="services.html">Service</a>
                  </li>-->
                  <li>
                      <a routerLink="portfolio"  routerLinkActive="active">Portfolio</a>
                  </li>
                  <!--<li>
                      <a href="industries.html">Industries</a>
                  </li>-->
                  <li>
                      <a routerLink="about-us"  routerLinkActive="active">About us</a>
                  </li>
                  <li>
                      <a routerLink="contact-us" routerLinkActive="active">Contact</a>
                  </li>
                  <!-- <li class="sign-in hidden-xs">
                      <a href="sign-in.html">Sign In</a>
                  </li> -->
                  <li class="hidden-xs">
                        <!-- <button type="button" routerLink="about-us"  class="btn btn-red" data-toggle="modal" data-target="#myModal">Start Your Project</button> -->
                        <button type="button" routerLink="personal"  class="btn btn-red">Start Your Project</button>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>
