    <!-- Footer -->
    <footer>
      <div class="container">
          <div class="row">
              <div class="col-md-3 col-sm-4 col-xs-12 company">
              <h4>SOLUTIONS</h4>
                  <div class="row">
                      <ul class="menu">
                          <li><a href="#">Custom Software Solution</a></li>
                          <li><a href="#">Prototyping</a></li>
                          <li><a href="#">Design</a></li>
                          <li><a href="#">Development</a></li>
                          <li><a href="#">Maintenance</a></li>
                      </ul>
                  </div>

              </div>
              <div class="col-md-3 col-sm-4 col-xs-12 company">
                  <h4>COMPANY</h4>
                      <div class="row">
                          <ul class="menu">
                              <li><a href="about-us.html">About</a></li>
                              <li><a href="#">Jobs</a></li>
                              <li><a href="#">Terms of Service</a></li>
                              <li><a href="#">Privacy Policy</a></li>
                              <li><a href="#">FAQ</a></li>
                          </ul>
                      </div>
  
                  </div>
                  <div class="col-md-3 col-sm-4 col-xs-12 company">
                      <h4>RESOURCES</h4>
                          <div class="row">
                              <ul class="menu">
                                  <li><a href="about-us.html">About</a></li>
                                  <li><a href="#">Jobs</a></li>
                                  <li><a href="#">Terms of Service</a></li>
                                  <li><a href="#">Privacy Policy</a></li>
                                  <li><a href="#">FAQ</a></li>
                              </ul>
                          </div>
      
                      </div>
                  <div class="col-md-3 col-sm-4 col-xs-12 company socials">
                      <h4>SOCIAL</h4>
                          <div class="row">
                              <ul class="menu">
                                  <li><a target="_blank" href="https://www.facebook.com/innoappsTech/"><span class="fa fa-facebook"></span></a></li>
                                  <li><a target="_blank" href="https://twitter.com/innoappsTech"><span class="fa fa-twitter"></span></a></li>
                                  <li><a target="_blank" href="https://www.linkedin.com/company/innoapps-technologies"><span class="fa fa-linkedin"></span></a></li>
                                  <li><a target="_blank" href="https://plus.google.com/u/0/+InnoAppsTechnologiesPvtLtdinnoappstech"><span class="fa fa-google-plus"></span></a></li>
                                  <li><a target="_blank" href="https://www.instagram.com/innoappstech/"><span class="fa fa-instagram"></span></a></li>
                              </ul>
                          </div>
                      </div>
          </div>
      </div>
      <div class="mob-footer visible-xs">
          <div class="col-xs-12">
          
                  <div class="f-logo">
                   
                          <img src="assets/images/footer-logo.png" class="" height="32" alt="Logo">
                          <ul class="text-center copyrights">
                                  <li><a href="#">Terms & Privacy</a></li>
                                  <li>© 2018, InnoApps Pvt. Ltd.</li>
                              </ul>
                  </div>
                 
                  
           </div>
      </div>
      <div class="f-btm hidden-xs">
          <div class="container hidden-xs">
              <div class="row">
                  <div class="col-md-5">
                          <img src="assets/images/footer-logo.png" class="" height="32" alt="Logo">
                  </div>
                  <div class="col-md-7">
                          <ul class="">
                                  <li>© 2018, InnoApps Pvt. Ltd.</li>
                                  <li><a href="#">Terms & Privacy</a></li>      
                              </ul>
                  </div>
              </div>
          </div>
      </div>
  </footer>