<section class="home-statics lets-make">
  <div class="container">
      <ul>
          <li>
              <div class="numscroller" data-slno="2" data-min="0" data-max="100" data-delay="10" data-increment="5">100+</div>
              <span>Project Delivered</span>
          </li>
          <li>
              <div class="numscroller" data-slno="2" data-min="0" data-max="20" data-delay="1" data-increment="1">20+</div>

              <span>Clients</span>
          </li>
          <li>
              <div class="numscroller" data-slno="2" data-min="0" data-max="10" data-delay="1" data-increment="1">10+</div>
              <span>Countries</span>
          </li>
          <li>
              <div class="numscroller" data-slno="2" data-min="0" data-max="15" data-delay="1" data-increment="1">15+</div>
              <span>Employees</span>
          </li>
      </ul>
  </div>
  <!-- particles.js container -->

</section>