<section class="client">
  <div class="container">
      <div class="col-md-12 text-center">
          <span class="text-uppercase client-heading">Clients</span>
          <!--img src="assets/images/clients.jpg" alt="" class="img-responsive"-->
          <div class="row">
              <div class="col-sm-3"><img src="assets/images/1.png" alt=""></div>
              <div class="col-sm-3"><img src="assets/images/2.png" alt=""></div>
              <div class="col-sm-3"><img src="assets/images/3.png" alt=""></div>
              <div class="col-sm-3"><img src="assets/images/8.png" alt=""></div>
         
              <div class="col-sm-3"><img src="assets/images/5.png" alt=""></div>
              <div class="col-sm-3"><img src="assets/images/6.png" alt=""></div>
              <div class="col-sm-3"><img src="assets/images/7.png" alt=""></div>
              <div class="col-sm-3"><img src="assets/images/4.png" alt=""></div>
          </div>
           
         
      </div>
  </div>
</section>
