<header class="intro-header inner-header">

    <div class="header-cell">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Browse <strong>Case Studies</strong> of past work.</h1>
                        <p>InnoApps works on many exciting projects for our diverse set of clients such as email platforms, dating sites, parking apps, and more. See for yourself in our Case Studies below. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </header>
    <section class="page-section"> 
        <div class="container">
          <div class="row">
            <div class="container case-dropdown text-center">
     <div id="options" class="clearfix dropdown">
         <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">All Case Studies
        </button>
        <span class="arrow"></span>
          <ul id="filters" class="option-set clearfix dropdown-menu" data-option-key="filter">
            <li><a href="javascript:void(0);" data-option-value="*" class="selected">All Case Studies</a></li>
            <li><a href="javascript:void(0);" data-option-value=".website">Websites</a></li>
            <li><a href="javascript:void(0);" data-option-value=".iphone">iPhone Apps</a></li>
            <li><a href="javascript:void(0);" data-option-value=".android">Android Apps</a></li>
          </ul>
      </div> <!-- #options -->
            </div>
          </div>
          <div class="row row25">
            <div id="container" class="casestudy-list grid">
              <div class="col-sm-6 col-xs-12 element transition website android" data-category="transition">
                <div class="case-inner">
                  <div class="content-sec">
                    <h3>Marco Polo</h3>
                    <p>Go Find Marco is the easiest way to make your phone 
    respond using nothing but your Voice! </p>
    <p class="case-links"><strong>WEBSITE</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>ANDROID APP</strong></p>
                  </div>
                  <div class="case-img">
                    <img src="assets/images/marco.png" alt="" class="img-responsive bottom-case-img">
                  </div>
                  <a href="https://www.innoappstech.com/case-1.html">
                    <span class="link-t">
                        <span class="fa fa-angle-right"></span> View case study
                    </span>
                  </a>
                </div>
              </div>
    
              <div class="col-sm-6 col-xs-12 element transition iphone website android" data-category="transition">
                <div class="case-inner">
                  <div class="content-sec">
                    <h3>Get My Parking</h3>
                    <p>Smart Parking Platform for Smart Cities. End to 
    end parking digitisation.</p>
    <p class="case-links"><strong>WEBSITE</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>IPHONE APP</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>ANDROID APP</strong></p>
                  </div>
                  <div class="case-img">
                    <img src="assets/images/p-2.png" alt="" class="img-responsive" style="position: absolute;bottom: 0; right: 0">
                  </div>
                  <a href="https://www.innoappstech.com/case-2.html">
                    <span class="link-t">
                        <span class="fa fa-angle-right"></span> View case study
                    </span>
                  </a>
                </div>
              </div>
    
              <div class="col-sm-6 col-xs-12 element transition website" data-category="transition">
                <div class="case-inner">
                  <div class="content-sec">
                    <h3>New Redbarrel</h3>
                    <p>RedBarrel is the Caribbean's first online commerce 
    company. RedBarrel is part of the Digicel Group.</p>
    <p class="case-links"><strong>WEBSITE</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>ECOMMERCE</strong></p>
                  </div>
                  <div class="case-img">
                    <img src="assets/images/p-3.png" alt="" class="img-responsive" style="float: none; margin: auto;">
                  </div>
                  <a href="#">
                    <span class="link-t">
                        <span class="fa fa-angle-right"></span> View case study
                    </span>
                  </a>
                </div>
              </div>
    
              <div class="col-sm-6 col-xs-12 element transition website" data-category="transition">
                <div class="case-inner">
                  <div class="content-sec">
                    <h3>HelloTech</h3>
                    <p>Affordable Tech Support To Your Door. If we can’t 
    help, you don’t pay. That’s the HelloTech way.</p>
    <p class="case-links"><strong>WEBSITE</strong></p>
                  </div>
                  <div class="case-img">
                    <img src="assets/images/p-4.png" alt="" class="img-responsive" style="float: none; margin: auto">
                  </div>
                  <a href="javascript:void(0);">
                    <span class="link-t">
                        <span class="fa fa-angle-right"></span> View case study
                    </span>
                  </a>
                </div>
              </div>
    
              <div class="col-sm-6 col-xs-12 element transition android" data-category="transition">
                <div class="case-inner">
                  <div class="content-sec">
                    <h3>SIZMO</h3>
                    <p>Sizmo connects the user to the right service at 
    the right price.</p>
    <p class="case-links"><strong>ANDROID APP</strong></p>
                  </div>
                  <div class="case-img">
                    <img src="assets/images/sizmo.png" alt="" class="img-responsive bottom-case-img" style=" max-width: 386px;">
                  </div>
                  <a href="javascript:void(0);">
                    <span class="link-t">
                        <span class="fa fa-angle-right"></span> View case study
                    </span>
                  </a>
                </div>
              </div>
    
              <div class="col-sm-6 col-xs-12 element transition website" data-category="transition">
                <div class="case-inner">
                  <div class="content-sec">
                    <h3>Spacebar</h3>
                    <p>You can rent or list any space. Let Spacebar match 
    you with your perfect space.</p>
    <p class="case-links"><strong>WEBSITE</strong></p>
                  </div>
                  <div class="case-img">
                    <img src="assets/images/p-6.png" alt="" class="img-responsive" style="">
                  </div>
                  <a href="javascript:void(0);">
                    <span class="link-t">
                        <span class="fa fa-angle-right"></span> View case study
                    </span>
                  </a>
                </div>
              </div>
    
              <div class="col-sm-6 col-xs-12 element transition website" data-category="transition">
                <div class="case-inner">
                  <div class="content-sec">
                    <h3>XPMail</h3>
                    <p>Email platform just like Gmail but more intuitive
    and well designed.</p>
    <p class="case-links"><strong>WEB APP</strong></p>
                  </div>
                  <div class="case-img">
                    <img src="assets/images/p-7.png" alt="" class="img-responsive" style=" float: none; margin: auto;">
                  </div>
                  <a href="https://www.innoappstech.com/case-3.html">
                    <span class="link-t">
                        <span class="fa fa-angle-right"></span> View case study
                    </span>
                  </a>
                </div>
              </div>
    
              <div class="col-sm-6 col-xs-12 element transition website" data-category="transition">
                <div class="case-inner">
                  <div class="content-sec">
                    <h3>Zesty</h3>
                    <p>Welcome to the wonderful world of instant 
    rendezvous. Let the fun begin.</p>
    <p class="case-links"><strong>WEBSITE</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>WEB APP</strong></p>
                  </div>
                  <div class="case-img">
                    <img src="assets/images/p-8.png" alt="" class="img-responsive" style=" height: auto; float: left;">
                  </div>
                  <a href="https://www.innoappstech.com/case-4.html">
                    <span class="link-t">
                        <span class="fa fa-angle-right"></span> View case study
                    </span>
                  </a>
                </div>
              </div>
    
            </div>
          </div>
        </div>
        </section>
        <section class="lets-make">
          <div class="container">
            <div class="row">
              <div class="col-sm-9">
                <div class="text">Let's make something great together</div>
              </div>
              <div class="col-sm-3 text-right">
                <a href="#" class="btn-primary text-uppercase start-project">Start a project</a>
              </div>
            </div>
          </div>
        </section>