<div ></div>
<header class="intro-header">
  <div class="header-cell">
    <div id="snow"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <div class="start-video">
              <i class="video-icon"></i>
            </div>
            <ng-container *ngFor="let share of shares | async">
            <h1 >{{ share.home_heading }}</h1>
            <span class="subheading" style="padding-left:25px; padding-right:25px;">{{  share.home_sub_heading }}</span>
          </ng-container>
            <a [routerLink]="['/questions',{ outlets: {'qust':['personal']}}]" class="btn-primary text-uppercase start-project">Start a project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="scrollbot-container">
    <span class="scrollbot goto-down">
      <i class="ion-chevron-right" data-pack="default" data-tags="arrow, right"></i>
    </span>
  </div>
</header>

<section class="services-list">
  <div class="container">
    <span class="v-line"></span>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">

        <div class="row">
          <div class="col-sm-3">

          </div>
          <div class="col-sm-9">
            <h2>
              <strong>InnoApps</strong> Proven System for Custom Development</h2>
            <p class="text-20">We provide top-level outsourcing solutions for software and app development. Our tested strategy creates the
              right solution for you and your customers.</p>
          </div>
        </div>
        <div class="row" style="position: relative;">
          <div class="col-sm-3">
            <!-- svg -->
            <div class="svg-container">
              <svg id="svg1" width="64px" height="65px" viewBox="0 0 64 65" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 42 (36781) - https://www.bohemiancoding.com/sketch -->

                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Home" transform="translate(-505.000000, -1576.000000)" stroke-width="2" stroke="#234EC1">
                    <g id="How-InnoApps-Works" transform="translate(467.000000, 1140.000000)">
                      <g id="1" transform="translate(0.000000, 398.000000)">
                        <g transform="translate(39.000000, 39.000000)">
                          <polyline data-async data-duration="20" id="Stroke-1" points="52.623 33.164 55.827 29.693 55.827 28.274 52.873 24.79"></polyline>
                          <polyline data-async data-duration="20" id="Stroke-2" points="37.001 40 0 40 0 0 62 0 62 20.876"></polyline>
                          <path data-async data-duration="20" d="M53,63 L53,39.8135593 L62,31.1186441 L62,27.2542373 L55,18.559322 L49,16.6271186 L49,14.6949153 L51,12.7627119 L51,8.89830508 L48,6 L45,6 L42,8.89830508 L42,12.7627119 L44,14.6949153 L44,16.6271186 L37,19.5254237 L32,25.3220339 L28,21.4576271 C26.7780959,20.3522675 24.9609849,20.3522675 24,21.4576271 C22.7294273,22.4923907 22.7183351,24.2166743 24,25.3220339 L30,32.0847458 L33,32.0847458 L39,26.2881356 L40,26.2881356 L40,26.2881356 L40,63"
                            id="Stroke-4"></path>
                          <path data-async data-duration="20" d="M23.9883,21.0122 L16.6980288,13.7219288" id="Stroke-6"></path>
                          <path data-async data-duration="20" d="M6.0015,7.0546 L14.0625,7.0546" id="Stroke-8"></path>
                          <path data-async data-duration="20" d="M6.0015,11.0546 L14.0625,11.0546" id="Stroke-10"></path>
                          <path data-async data-duration="20" d="M6.0015,15.0546 L14.0625,15.0546" id="Stroke-12"></path>
                          <path data-async data-duration="20" d="M35.5791,63.04 L35.5791,62.039 L30.9791,59.26 L30.9791,57.26 L32.9791,55.01 L32.9791,50.596 C32.9791,50.012 32.7241,49.458 32.2801,49.078 L30.4041,47.47 C30.0421,47.159 29.5801,46.988 29.1031,46.988 L26.7981,46.988 C26.3171,46.988 25.8521,47.161 25.4891,47.476 L23.6381,49.078 C23.2001,49.458 22.9481,50.01 22.9481,50.59 L22.9481,55.01 L24.9791,57.26 L24.9791,59.26 L21.3221,62.039 L19.5821,62.039 L14.9821,59.26 L14.9821,57.26 L16.9821,55.01 L16.9821,50.596 C16.9821,50.012 16.7271,49.458 16.2831,49.078 L14.4071,47.47 C14.0451,47.159 13.5831,46.988 13.1061,46.988 L10.8011,46.988 C10.3201,46.988 9.8551,47.161 9.4921,47.476 L7.6411,49.078 C7.2031,49.458 6.9511,50.01 6.9511,50.59 L6.9511,55.01 L8.9821,57.26 L8.9821,59.26 L3.9311,62.082 L3.9311,62.998"
                            id="Stroke-14"></path>
                          <path data-async data-duration="20" d="M6.0078,35.0048 L20.0078,35.0048" id="Stroke-16"></path>
                          <path data-async data-duration="20" d="M6.0078,31.0048 L20.0078,31.0048" id="Stroke-18"></path>
                          <path data-async data-duration="20" d="M6.0078,27.0048 L20.0078,27.0048" id="Stroke-20"></path>
                          <path data-async data-duration="20" d="M20.0078,6.0048 L36.0078,6.0048" id="Stroke-22"></path>
                          <path data-async data-duration="20" d="M20.0078,10.0048 L36.0078,10.0048" id="Stroke-24"></path>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <!-- svg 1 end -->
          </div>
          <div class="col-sm-9 fadein">
            <h3>In-Depth Requirements Analysis</h3>
            <p>We meet with you to deeply analyze every key requirement you have so that you can build the tool that you imagined.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="svg-container">
              <svg id="svg2" width="63px" height="64px" viewBox="0 0 63 64" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">

                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Home" transform="translate(-505.000000, -1766.000000)" stroke="#234EC1" stroke-width="2">
                    <g id="How-InnoApps-Works" transform="translate(467.000000, 1140.000000)">
                      <g id="2" transform="translate(0.000000, 588.000000)">
                        <g transform="translate(39.000000, 39.000000)">
                          <path data-async data-duration="20" d="M52.8072816,51.3287786 C57.312505,45.9922771 60.031746,39.0572325 60.031746,31.475388 C60.031746,14.6264879 46.5918736,0.968253968 30.0142939,0.968253968 C13.4367142,0.968253968 0,14.6264879 0,31.475388 C0,48.3258931 13.4367142,61.984127 30.0142939,61.984127 C36.7918679,61.984127 43.0435957,59.7018698 48.0683488,55.8515639"
                            id="Stroke-7"></path>
                          <path data-async data-duration="20" d="M36.9297487,7.77438084 C34.888305,7.18632455 32.7335352,6.87301587 30.5079365,6.87301587 C17.4628434,6.87301587 6.88888889,17.6669015 6.88888889,30.9833236 C6.88888889,44.2997458 17.4628434,55.0952381 30.5079365,55.0952381 C43.5530296,55.0952381 54.1269841,44.2997458 54.1269841,30.9833236 C54.1269841,21.836317 49.1374879,13.8782766 41.7854572,9.79241006"
                            id="Stroke-9"></path>
                          <path data-async data-duration="20" d="M37.3544339,47.8189853 C43.7389174,45.1420025 48.2222222,38.8318567 48.2222222,31.4769953 C48.2222222,21.6930498 40.2923266,13.7619048 30.5079365,13.7619048 C20.7251562,13.7619048 12.7936508,21.6930498 12.7936508,31.4769953 C12.7936508,41.2593311 20.7251562,49.1904762 30.5079365,49.1904762"
                            id="Stroke-11"></path>
                          <path data-async data-duration="20" d="M20.0386522,34.3507251 C21.3788877,38.9495815 25.537811,42.3015873 30.4592553,42.3015873 C36.4646909,42.3015873 41.3333333,37.3094076 41.3333333,31.1515899 C41.3333333,24.9921797 36.4646909,20 30.4592553,20 C25.4912211,20 21.3012379,23.4157019 20.0013803,28.0798468"
                            id="Stroke-13"></path>
                          <path data-async data-duration="20" d="M34.4603175,27.9972415 C32.6570375,26.0749936 29.7391983,26.0749936 27.9374556,27.9972415 C26.1372503,29.9194895 26.1372503,33.0341216 27.9374556,34.9563695 C29.7391983,36.8769773 32.6570375,36.8769773 34.4603175,34.9563695"
                            id="Stroke-15"></path>
                          <path data-async data-duration="20" d="M27.50354,20.6639404 L30.0891113,26.5344238" id="Stroke-17"></path>
                          <path data-async data-duration="20" d="M25.5873016,41.3174603 L22.8769531,47.0285645" id="Stroke-19"></path>
                          <path data-async data-duration="20" d="M47.8464355,31.1351318 L54.6516113,32.116333" id="Stroke-21"></path>
                          <path data-async data-duration="20" d="M1.96825397,42.3015873 L7.87301587,39.3492063" id="Stroke-23"></path>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
          </div>
          <div class="col-sm-9 fadein">
            <h3>Effective Development Strategy</h3>
            <p>We create a strategy before we begin work. This includes ranking your preferences, measuring Key Performance
              Indicators(KPIs), and deciding the perfect programming language.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="svg-container">
              <svg id="svg3" width="60px" height="63px" viewBox="0 0 60 63" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 42 (36781) - https://www.bohemiancoding.com/sketch -->

                <defs>
                  <polygon id="path-1" points="0 63 59.997 63 59.997 0 0 0"></polygon>
                </defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Home" transform="translate(-506.000000, -1957.000000)">
                    <g id="How-InnoApps-Works" transform="translate(467.000000, 1140.000000)">
                      <g id="3" transform="translate(0.000000, 778.000000)">
                        <g transform="translate(39.000000, 39.000000)">
                          <polyline data-async data-duration="20" id="Stroke-1" stroke="#234EC1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            points="19.998 22 32.998 42 45.998 22"></polyline>
                          <path data-async data-duration="20" d="M19.998,22 C24.42,22 26.998,18.422 26.998,14" id="Stroke-4" stroke="#234EC1" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                          <path data-async data-duration="20" d="M38.998,22 C43.42,22 45.998,18.422 45.998,14" id="Stroke-4-Copy" stroke="#234EC1"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(42.498000, 18.000000) scale(-1, 1) translate(-42.498000, -18.000000) "></path>
                          <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                          </mask>
                          <g id="Clip-7"></g>
                          <polygon data-async data-duration="20" id="Stroke-6" stroke="#234EC1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            mask="url(#mask-2)" points="26.998 14 38.998 14 38.998 9 26.998 9"></polygon>
                          <path d="M30.998,29 C30.998,27.896 31.894,27 32.998,27 C34.102,27 34.998,27.896 34.998,29 C34.998,30.104 34.102,31 32.998,31 C31.894,31 30.998,30.104 30.998,29 Z"
                            id="Stroke-8" stroke="#234EC1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            mask="url(#mask-2)"></path>
                          <path data-async data-duration="20" d="M32.998,42 L32.998,31" id="Stroke-9" stroke="#234EC1" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" mask="url(#mask-2)"></path>
                          <polygon data-async data-duration="20" id="Stroke-10" stroke="#234EC1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            mask="url(#mask-2)" points="24.998 9 40.998 9 40.998 1 24.998 1"></polygon>
                          <path data-async data-duration="20" d="M21.998,2.3599 C18.408,4.0299 15.208,6.5299 12.678,9.5999 C11.198,11.3899 10.018,13.4099 9.018,15.5199 L1.198,32.1399 C0.568,33.4599 1.518,34.9999 2.968,34.9999 L6.998,34.9999 L6.998,44.9999 C6.998,48.3199 10.378,50.9999 13.648,50.9999 L15.618,50.9999 C17.798,50.9999 18.998,52.7999 18.998,55.0099 L18.998,61.9999 L44.988,61.9999 C44.988,55.9999 47.518,50.0299 51.668,45.5999 C56.848,40.0699 59.748,32.3299 58.828,23.8999 C57.988,16.2499 53.788,9.1899 47.488,4.7699 C46.378,3.9899 45.208,3.2999 43.998,2.6999"
                            id="Stroke-11" stroke="#234EC1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            mask="url(#mask-2)"></path>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
          </div>
          <div class="col-sm-9 fadein">
            <h3>Friendly UX/UI Design</h3>
            <p>Our designers are experts at creating user friendly software. We beautifully merge design with your information
              structure to create an interface that anticipates where your users will click next.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="svg-container">
              <svg id="svg4" width="64px" height="50px" viewBox="0 0 64 50" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
                
                <circle data-async data-duration="20" id="path-1" cx="50" cy="4" r="1"></circle>
                <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="2" height="2" fill="white">
                  <use xlink:href="#path-1"></use>
                </mask>
                <circle data-async data-duration="20" id="path-3" cx="54" cy="4" r="1"></circle>
                <mask id="mask-4" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="2" height="2" fill="white">
                  <use xlink:href="#path-3"></use>
                </mask>
                <circle data-async data-duration="20" id="path-5" cx="58" cy="4" r="1"></circle>
                <mask id="mask-6" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="2" height="2" fill="white">
                  <use xlink:href="#path-5"></use>
                </mask>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Home" transform="translate(-505.000000, -2153.000000)" stroke="#234EC1" stroke-width="2">
                    <g id="How-InnoApps-Works" transform="translate(467.000000, 1140.000000)">
                      <g id="4" transform="translate(0.000000, 968.000000)">
                        <g transform="translate(39.000000, 46.000000)">
                          <polygon data-async data-duration="20" id="Stroke-1" stroke-linecap="round" stroke-linejoin="round" points="0 48 62 48 62 0 0 0"></polygon>
                          <path data-async data-duration="20" d="M0,8 L62,8" id="Stroke-3" stroke-linecap="round" stroke-linejoin="round"></path>
                          <path d="M45,17 L31,39" id="Stroke-8" stroke-linecap="round" stroke-linejoin="round"></path>
                          <polyline id="Stroke-9" stroke-linecap="round" stroke-linejoin="round" points="29 34 19 28 29 22"></polyline>
                          <polyline id="Stroke-10" stroke-linecap="round" stroke-linejoin="round" points="47 34 57 28 47 22"></polyline>
                          <path data-async data-duration="20" d="M46,0 L46,8" id="Stroke-11" stroke-linecap="round" stroke-linejoin="round"></path>
                          <path data-async data-duration="20" d="M5,14 L9,14" id="Stroke-13" stroke-linecap="round" stroke-linejoin="round"></path>
                          <path data-async data-duration="20" d="M5,18 L8,18" id="Stroke-14" stroke-linecap="round" stroke-linejoin="round"></path>
                          <path data-async data-duration="20" d="M5,22 L9,22" id="Stroke-15" stroke-linecap="round" stroke-linejoin="round"></path>
                          <path data-async data-duration="20" d="M5,26 L8,26" id="Stroke-16" stroke-linecap="round" stroke-linejoin="round"></path>
                          <path data-async data-duration="20" d="M5,30 L9,30" id="Stroke-17" stroke-linecap="round" stroke-linejoin="round"></path>
                          <path data-async data-duration="20" d="M5,34 L8,34" id="Stroke-18" stroke-linecap="round" stroke-linejoin="round"></path>
                          <path data-async data-duration="20" d="M5,38 L9,38" id="Stroke-19" stroke-linecap="round" stroke-linejoin="round"></path>
                          <path data-async data-duration="20" d="M5,42 L9,42" id="Stroke-20" stroke-linecap="round" stroke-linejoin="round"></path>
                          <path data-async data-duration="20" d="M14,8 L14,48" id="Stroke-21" stroke-linecap="round" stroke-linejoin="round"></path>
                          <use data-async data-duration="20" id="Oval-6" mask="url(#mask-2)" xlink:href="#path-1"></use>
                          <use data-async data-duration="20" id="Oval-6-Copy" mask="url(#mask-4)" xlink:href="#path-3"></use>
                          <use data-async data-duration="20" id="Oval-6-Copy-2" mask="url(#mask-6)" xlink:href="#path-5"></use>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
          </div>
          <div class="col-sm-9 fadein">
            <h3>Complete Custom Development</h3>
            <p>Our experts design your program to the exact custom needs that we have thoroughly assessed to create the perfect
              app for your users and business.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="svg-container">
              <svg id="svg5" width="48px" height="64px" viewBox="0 0 48 64" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">

                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                  <g id="Home" transform="translate(-513.000000, -2336.000000)" stroke="#234EC1" stroke-width="2">
                    <g id="How-InnoApps-Works" transform="translate(467.000000, 1140.000000)">
                      <g id="5" transform="translate(0.000000, 1158.000000)">
                        <g transform="translate(46.000000, 39.000000)">
                          <path data-async data-duration="20" d="M12.4023,48 L35.6013,48 L35.6013,47.959 C36.5113,43.956 37.0023,39.765 37.0023,35.448 C37.0023,21.676 32.0423,9.175 24.0023,0 C15.9623,9.175 11.0023,21.676 11.0023,35.448 C11.0023,39.765 11.4923,43.956 12.4023,47.959 L12.4023,48 Z"
                            id="Stroke-1"></path>
                          <polygon data-async data-duration="20" id="Stroke-3" points="21.002 53 13.002 53 14.002 48 20.002 48"></polygon>
                          <polygon data-async data-duration="20" id="Stroke-5" points="35.002 53 27.002 53 28.002 48 34.002 48"></polygon>
                          <path data-async data-duration="20" d="M17.002,57 L17.002,62" id="Stroke-7"></path>
                          <path data-async data-duration="20" d="M13.002,57 L13.002,60" id="Stroke-9"></path>
                          <path data-async data-duration="20" d="M21.002,57 L21.002,60" id="Stroke-11"></path>
                          <path data-async data-duration="20" d="M31.002,57 L31.002,62" id="Stroke-13"></path>
                          <path data-async data-duration="20" d="M27.002,57 L27.002,60" id="Stroke-15"></path>
                          <path data-async data-duration="20" d="M35.002,57 L35.002,60" id="Stroke-17"></path>
                          <path data-async data-duration="20" d="M11.4121,42.2002 C8.1821,44.8002 6.0021,48.3402 5.2121,52.2002 C5.0121,53.0992 3.7021,53.3002 3.2321,52.5002 C2.6921,51.5702 2.2421,50.5902 1.8911,49.5702 C-0.8589,41.5302 2.9521,33.0402 10.5721,29.0002 L11.4221,28.5592"
                            id="Stroke-19"></path>
                          <path data-async data-duration="20" d="M36.582,28.5596 L37.432,28.9996 C45.052,33.0396 48.862,41.5306 46.112,49.5706 C45.762,50.5896 45.311,51.5706 44.771,52.4996 C44.302,53.2996 42.992,53.0996 42.792,52.2006 C42.002,48.3396 39.822,44.7996 36.592,42.2006"
                            id="Stroke-21"></path>
                          <path data-async data-duration="20" d="M30.002,22.0664 C30.002,25.4174 27.315,28.1324 24.002,28.1324 C20.689,28.1324 18.002,25.4174 18.002,22.0664 C18.002,18.7154 20.689,16.0004 24.002,16.0004 C27.315,16.0004 30.002,18.7154 30.002,22.0664 Z"
                            id="Stroke-23"></path>
                          <path data-async data-duration="20" d="M22.002,22.0664 C22.002,20.9264 22.899,20.0004 24.002,20.0004" id="Stroke-25"></path>
                          <path data-async data-duration="20" d="M30.832,10 L17.172,10" id="Stroke-27"></path>
                          <path data-async data-duration="20" d="M36.9424,38 L11.0614,38" id="Stroke-29"></path>
                          <path data-async data-duration="20" d="M18.002,48 L17.002,38" id="Stroke-31"></path>
                          <path data-async data-duration="20" d="M24.002,48 L24.002,38" id="Stroke-33"></path>
                          <path data-async data-duration="20" d="M30.002,48 L31.002,38" id="Stroke-35"></path>
                          <path data-async data-duration="20" id="Stroke-37"></path>
                          <path data-async data-duration="20" id="Stroke-39"></path>
                          <path data-async data-duration="20" id="Stroke-41"></path>
                          <path data-async data-duration="20" d="M5.002,7 L7.002,7" id="Stroke-43"></path>
                          <path data-async data-duration="20" d="M6.002,6 L6.002,8" id="Stroke-45"></path>
                          <path data-async data-duration="20" id="Stroke-47"></path>
                          <path data-async data-duration="20" d="M39.002,14 L41.002,14" id="Stroke-49"></path>
                          <path data-async data-duration="20" d="M40.002,13 L40.002,15" id="Stroke-51"></path>
                          <path data-async data-duration="20" id="Stroke-53"></path>
                          <path data-async data-duration="20" id="Stroke-55"></path>
                          <path data-async data-duration="20" id="Stroke-57"></path>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
          </div>
          <div class="col-sm-9 fadein">
            <h3>Quality Deployment</h3>
            <p>We thoroughly test to look not only for bugs and performance issues, but to make sure we’ve developed the perfect
              system for your needs. We will not deploy your application until it meets our strict QA standards.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="svg-container">
             
              <svg id="svg6" width="62px" height="64px" viewBox="0 0 62 64" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">

                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                  <g id="Home" transform="translate(-506.000000, -2525.000000)" stroke="#234EC1" stroke-width="2">
                    <g id="How-InnoApps-Works" transform="translate(467.000000, 1140.000000)">
                      <g id="6" transform="translate(0.000000, 1348.000000)">
                        <g transform="translate(40.000000, 38.000000)">
                          <path data-async data-duration="20" d="M17,51 L3,51 C1.343,51 0,49.657 0,48 C0,46.343 1.343,45 3,45 L17,45 C18.657,45 20,46.343 20,48 C20,49.657 18.657,51 17,51 Z"
                            id="Stroke-1"></path>
                          <path data-async data-duration="20" d="M17,45 L3,45 C1.343,45 0,43.657 0,42 C0,40.343 1.343,39 3,39 L17,39 C18.657,39 20,40.343 20,42 C20,43.657 18.657,45 17,45 Z"
                            id="Stroke-3"></path>
                          <path data-async data-duration="20" d="M17,39 L3,39 C1.343,39 0,37.657 0,36 C0,34.343 1.343,33 3,33 L17,33 C18.657,33 20,34.343 20,36 C20,37.657 18.657,39 17,39 Z"
                            id="Stroke-5"></path>
                          <path data-async data-duration="20" d="M17,33 L3,33 C1.343,33 0,31.657 0,30 C0,28.343 1.343,27 3,27 L17,27 C18.657,27 20,28.343 20,30 C20,31.657 18.657,33 17,33 Z"
                            id="Stroke-7"></path>
                          <path data-async data-duration="20" d="M17,57 L3,57 C1.343,57 0,55.657 0,54 C0,52.343 1.343,51 3,51 L17,51 C18.657,51 20,52.343 20,54 C20,55.657 18.657,57 17,57 Z"
                            id="Stroke-9"></path>
                          <path data-async data-duration="20" d="M58,62 L48,62 C46.896,62 46,61.104 46,60 L46,26 C46,24.896 46.896,24 48,24 L58,24 C59.104,24 60,24.896 60,26 L60,60 C60,61.104 59.104,62 58,62 Z"
                            id="Stroke-11"></path>
                          <path data-async data-duration="20" d="M46,29 L36.549,21.911 C35.057,20.793 32.99,20.853 31.566,22.056 L26.403,26.419 C24.658,27.895 24.547,30.547 26.163,32.163 C27.662,33.662 30.085,33.69 31.619,32.227 L35,29"
                            id="Stroke-13"></path>
                          <path data-async data-duration="20" d="M17,27 L17,20.41" id="Stroke-15"></path>
                          <path data-async data-duration="20" d="M29,33.3096 L29,59.9996 C29,61.0996 28.1,61.9996 27,61.9996 L19,61.9996 C17.9,61.9996 17,61.0996 17,59.9996 L17,56.9996"
                            id="Stroke-17"></path>
                          <path data-async data-duration="20" d="M29,24.2305 L29,20.4105" id="Stroke-19"></path>
                          <path data-async data-duration="20" d="M46,58 L29,58" id="Stroke-21"></path>
                          <path data-async data-duration="20" d="M16.7051,0 L18.6371,13.244 L27.3631,13.244 L29.2951,0 C32.7201,2.079 35.0001,5.867 35.0001,10.132 C35.0001,16.681 29.6331,22 23.0001,22 C16.3671,22 11.0001,16.671 11.0001,10.122 C11.0001,5.856 13.2801,2.079 16.7051,0 Z"
                            id="Stroke-23"></path>
                          <path data-async data-duration="20" d="M55,31 C55,32.104 54.104,33 53,33 C51.896,33 51,32.104 51,31 C51,29.896 51.896,29 53,29 C54.104,29 55,29.896 55,31 Z"
                            id="Stroke-25"></path>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
          </div>
          <div class="col-sm-9 fadein">
            <h3>Guaranteed Maintenance</h3>
            <p>If you have any issue at all we guarantee that we will fix it under our thorough maintenance plan.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="technology">
  <div class="container">
    <div class="row">
      <div class="col-md-6 tect-img col-sm-12  pull-right">
        <img src="assets/images/technology.png" class="img-responsive">
      </div>
      <div class="col-md-6 col-sm-12 tech-text">
        <h2>
          <strong>Experts</strong> on the
          <br/>Latest Tech</h2>
        <p>Our full stack developers are experts on the most current technologies available including iOS, Android, PHP, AWS,
          Python, Node.js, Ruby On Rails, AngularJS, and many more. We are always on the cutting edge and use only the best
          technology available. </p>
        <a href="#">
          <span class="fa fa-chevron-right"></span> Learn more about us</a>
      </div>

    </div>
  </div>
</section>
<section class="case-study">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h2>
        <strong>We Deliver Results</strong>
      </h2>
      <p>See how we’ve helped people just like you get the right application for their needs in our
        <strong>
          <I>Featured Case Studies.</I>
        </strong>
      </p>
    </div>
  </div>
  <div class="container-fluid">
    <div class="case bot-marg">
      <div class="row">
        <div class="col-md-7 case-img item">
          <img src="assets/images/case-1-new.png" alt="" class="img-responsive center-case-img">
        </div>
        <div class="col-md-5 case-txt mt-100 mb-80 item pr-100 sml-marg">
          <h3>Marco Polo</h3>
          <p>Ever lost your phone or tablet? Whether it's behind the couch, under your bed or hidden in a pile of dirty clothes,
            Marco Polo will help you find it! Simply shout Marco and your device will reply Polo.
          </p>
          <p class="case-links">
            <strong>IPHONE APP</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <strong>ANDROID APP</strong>
          </p>
          <a href="https://innoappstech.com/portfolio.html">
            <span class="fa fa-chevron-right"></span> View case study</a>
        </div>
      </div>
    </div>
    <div class="case bot-marg">
      <div class="row">
        <div class="col-md-5 case-txt item pl-50 pb-50">
          <h3 class="mt-100">Get My Parking</h3>
          <p>End to end parking digitisation - our technology provides realtime bird's eye view of all parking information to
            urban commuters, parking management companies, and the city administration
          </p>
          <p class="case-links">
            <strong>WEBSITE</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <strong>IPHONE APP</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <strong>ANDROID APP</strong>
          </p>
          <a href="https://innoappstech.com/portfolio.html" class="mb-80">
            <span class="fa fa-chevron-right"></span> View case study</a>
        </div>
        <div class="col-md-7 case-img item move-right">
          <img src="assets/images/parking.png" alt="" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</section>
<app-clients></app-clients>
<app-client-feedback></app-client-feedback>
<app-statics></app-statics>
