<section class="client-feedback">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-offset-2 text-center">
                <h2><strong>Our <I>Clients</I> Love Working With Us</strong></h2>
                <p>People from all over the world love the custom applications we create for them. </p>
            </div>
  
             <div class="col-md-12">
                 <!-- tab container -->
                 <div id="tabs-container">
                     <ul class="tabs-menu">
                         <li class="current"><a href="#tab-1"><img src="assets/images/goodfirms.png" class="tab-img" alt=""></a></li>
                          
                         <li><a href="#tab-3"><img src="assets/images/appfutura.png" class="tab-img" alt=""></a></li>
                         <li><a href="#tab-4"><img src="assets/images/upwork.png" class="tab-img" alt=""></a></li>
                          
                     </ul>
  
  
                      <div class="tab text-center">
     <div id="tab-1" class="tab-content">
      <span class="quote"></span>
                  <div class="review-rating">
                      <span class="rating"><span class="star-rate"><img src="assets/images/stars.png" alt=""></span>RATING 4.91</span>
                      <span class="review">REVIEWS 3</span>
                  </div>
                  <owl-carousel
                  [options]="{items: 1, dots: true, navigation: false}"
                  [carouselClasses]="['owl-theme', 'row', 'sliding']">
                  <div class="item"><!-- item-->
                      <p>The client is a start-up that provides office space and house renting services. Mainly, they wanted to provide a platform where buyers and sellers can locate properties matching their requirements. They partnered with InnoApps Technologies to develop the website and the Android-based mobile application.
      
      The client is very satisfied with InnoApps Technologies because of their reliability and customer support services. They appreciate their development skills and project schedule.</p>
      <p class="author">Midhun - CEO at Dhuni </p>
                  </div><!-- item end -->
                  <div class="item"><!-- item-->
                      <p>The client is a mobile app and web development company based out of Australia. They were looking for an Indian partner to work with for some of their client’s projects. They partnered with InnoApps Technologies to work upon different mobile and web applications development. The client developed an Android mobile application based on voice recognition with their help.
      
      The client is very satisfied with InnoApps Technologies because of their reliability and design skills. They appreciate their dedication towards delivering a quality project.</p>
      <p class="author">Sachin Kumar - Project Manager at Auxilium IT </p>
                  </div><!-- item end -->
                  <div class="item"><!-- item-->
                      <p>It's was a pleasure working with InnoApps Technologies team, They are highly responsible, dedicated towards work and provides the best suggestion every time. Since I wasn't around all the time but they fill all gap and develop end product what I have supposed at the starting. InnoApps is best in UI/UX, Development, QA and providing best suggestion every time I needed. Overall great experience working with InnoApps, Looking forward to work on few more projects sooner.</p>
      <p class="author">Pilli Shahin Noble - Founder at Crypto Currency Expo </p>
                  </div><!-- item end -->
              </owl-carousel>
          
          <div class="more-items mt-40 text-center">
              <a href="https://www.goodfirms.co/companies/view/1695/innoapps-technologies-pvt-ltd"><span class="fa fa-chevron-right"></span>  More on GoodFirms</a>
          </div>
     </div>
      
     <div id="tab-3" class="tab-content">
          <span class="quote"></span>
                  <div class="review-rating">
                      <span class="rating"><span class="star-rate"><img src="assets/images/stars.png" alt=""></span>RATING 4.91</span>
                      <span class="review">REVIEWS 3</span>
                  </div>
                  <owl-carousel
                  [options]="{items: 1, dots: true, navigation: false}"
                  [carouselClasses]="['owl-theme', 'row', 'sliding']">
                  <div class="item"><!-- item-->
                      <p>I am really impressed with InnoApps Technologies and we are truly amazed. It was quite frightening to get work done from far away but rest assured these guys are top notch!
      Price is right, timely delivery, effective, efficient and real professionals. They have strong UI/UX team and I am happy to start next project with InnoApps Technologies.</p>
      <p class="author">Jack, Co-Founder, Muzico music app </p>
                  </div><!-- item end -->
                  <div class="item"><!-- item-->
                      <p>Highly recommended</p>
      <p class="author">Chirag, Co-Founder, GetMyParking </p>
                  </div><!-- item end -->
                  <div class="item"><!-- item-->
                      <p>It's was a pleasure working with InnoApps Technologies team, They are highly responsible, dedicated towards work and provides the best suggestion every time. Since I wasn't around all the time but they fill all gap and develop end product what I have supposed at the starting. InnoApps is best in UI/UX, Development, QA and providing best suggestion every time I needed. Overall great experience working with InnoApps, Looking forward to work on few more projects sooner.</p>
      <p class="author">Pilli Shahin Noble, Co-Founder, Ance</p>
                  </div><!-- item end -->
              </owl-carousel>
         
           <div class="more-items mt-40 text-center">
              <a href="#"><span class="fa fa-chevron-right"></span>  More on AppFuture</a>
          </div>
     </div>
     <div id="tab-4" class="tab-content">
          <span class="quote"></span>
                  <div class="review-rating">
                      <span class="rating"><span class="star-rate"><img src="assets/images/stars.png" alt=""></span>RATING 4.91</span>
                      <span class="review">REVIEWS 9</span>
                  </div>
          
  <owl-carousel
                  [options]="{items: 1, dots: true, navigation: false}"
                  [carouselClasses]="['owl-theme', 'row', 'sliding']">
                  <div class="item"><!-- item-->
                      <p>Pro-active team, willing to work the extra minute! Great communication from Dev Team & Admins. High availability, tackle requests & fixes on the spot. Kind and supported, a job hungry attention to detail team. No regrets, thanks team for an awesome experience!</p>
      <p class="author">Bryanne Vega- Project Manager, Atomical Softwares LLC </p>
                  </div><!-- item end -->
                  <div class="item"><!-- item-->
                      <p>All I can say is WOW! Probably the best company I have ever worked with! Best quality of app UI and programming for a very very reasonable price! Please do not hesitate to hire InnoApps Technologies and the rest of the team that work under InnoApps. They were always promptly with delivering the 100% highest quality work. I highly recommend you hire InnoApps Technologies for your next job!! Thanks again!</p>
      <p class="author">max Goldberg- Co-Founder, Waitly </p>
                  </div><!-- item end -->
                  <div class="item"><!-- item-->
                      <p>Best of the best. It was an excellent experience dealing with Ankit, from quality of work to communication to meeting the target dates it was fantastic. The design work was better than what I wished for, he is very competent and knowledgeable which made it a lot easier for me to deal with him. Thanks for the great work. I am already engaged with him on two other contracts.</p>
      <p class="author">Hamad Alzaabi- Co-Founder, YellowCap </p>
                  </div><!-- item end -->
              </owl-carousel>
           <div class="more-items mt-40 text-center">
              <a href="#"><span class="fa fa-chevron-right"></span>  More on upWork</a>
          </div>
     </div>
      
  </div>
  </div>
                 </div>
  
        </div>
    </div>
  </section>